*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.contactUs{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 150px 0;
    gap: 30px;
}
.contactUs .form{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 30px;
}

.form
.contactUs .location{
  
}