.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    color: white;
    background-image: url('../../assets/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

.footer .columns{
    display: flex;
    gap: 20px;
    width: auto;
    height: auto;
    padding-bottom: 30px;
}

.columns .cone{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cone .address .address-info{
    padding-top: 20px;
    display: flex;
    column-gap: 10px;
}

.cone .social-media .links{
    padding-top: 20px;
    display: flex;
    column-gap: 10px;
    padding-left: 20px;
}

.links a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.columns .ctwo{
    width: 250px;
    height: auto;
}

.ctwo .ctwo-sub{
    display: flex;
    column-gap: 10px;
    padding-top: 20px;
}

.ctwo-sub .phone-logo,.mail-logo{
    font-size: 28px;
}

.columns .cthree{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cthree .mail-links{
    display: flex;
    flex-direction: column;
    row-gap: 20px;   
}

.mail-links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover{
    color: rgb(236, 47, 0);
}

.number:hover{
    color: rgb(236, 47, 0);
    cursor: pointer;
}

.mail:hover{
    color: rgb(236, 47, 0);  
    cursor: pointer; 
}