*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .about-us-page { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.about-us-page{
  height: auto;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
  gap: 150px;
}

/* .about-us-section {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
} */

.about-us-page .about-us-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .about-us-section .info{
  height: auto;
  width: 50%;
  border: 1px solid red;
}
.about-us-section .video{
 
} */


/* .mission-section {
 display: flex;
 column-gap: 50px;
 margin-bottom: 100px;
 padding: 50px 250px;
 background-color: #F3F6FA;
} */


/* .mission-section .mission-section-logo{
  font-size: 50px;
  color: rgb(128, 164, 164);
} */

/* .mission-section .mission-section-heading{
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 900;
} */

/* .team-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 250px;
  padding-right: 250px;
  gap: 50px;
} */

/* .team-info .card{
  height: auto;
  width: 300px;
} */

/* .team-info .card .image img{
  z-index: -1;
  background-clip: content-box;
} */

/* .team-info .card .card-info{
  height: 100px;
  width: 100%;
  background-color: #7D1619;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100PX;
  color: #fff;
} */

/* .card-info:hover{
  margin-top: -10px;
  border-bottom: 5px solid #FE9900;
} */